---
import { getCollection } from 'astro:content'

import BaseLayout from '~/layouts/BaseLayout.astro'
import { getDatesForFile } from '~/github'
import { formatReadableDate } from '~/date'

const blogEntries = await Promise.all(
  (await getCollection('blog')).map(async (blogEntry) => {
    const dates = await getDatesForFile(blogEntry.id)
    return { ...blogEntry, ...dates }
  }),
).then((entries) =>
  entries.sort((a, b) => {
    return new Date(b.publishedDate).getTime() - new Date(a.publishedDate).getTime()
  }),
)
---

<BaseLayout title="Blog" description="Blog">
  <ul class="blog-posts">
    {
      blogEntries.map((blogPostEntry) => (
        <li>
          <span>
            <time datetime={blogPostEntry.publishedDate}>{formatReadableDate(blogPostEntry.publishedDate)}</time>
          </span>
          <a href={`/blog/${blogPostEntry.slug}`}>{blogPostEntry.data.title}</a>
        </li>
      ))
    }
  </ul>
</BaseLayout>
